<div class="row">
   
    <div class="card mb-3 mt-5">
        <h1>Experiencia Laboral</h1>
         <div class="card-body">
          <h1 class="card-title">Trabajo</h1> - <h3>(años)</h3>
          <ul>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio nulla et eveniet corporis odio consectetur reprehenderit explicabo quidem, dolore velit.</p>
            </li>
          </ul>
          <h1 class="card-title">Trabajo</h1> - <h3>(años)</h3>
          <ul>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio nulla et eveniet corporis odio consectetur reprehenderit explicabo quidem, dolore velit.</p>
            </li>
          </ul>
          <h1 class="card-title">Trabajo</h1> - <h3>(años)</h3>
          <ul>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio nulla et eveniet corporis odio consectetur reprehenderit explicabo quidem, dolore velit.</p>
            </li>
          </ul>
        
          </div>
      </div>
</div>
