<div class="container" *ngIf="skill" style="background-color:#839192 ;">
    <div class="row">
        <div>
            <br>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de la Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <br><br><br>
                <button class="btn btn-dark d-grid gap-2 col-6 mx-auto">
                    Actualizar
                </button>
                <br><br>

            </form>
        </div>
    </div>
</div>