<div class="row">
  <h1>Hard and Soft Skills</h1>
<div class="col-sm-4 col-md-4 col-lg-4 text-center">
<h4>HTML</h4>
 <circle-progress
   [percent]="90"
   [radius]="100"
   [outerStrokeWidth]="10"
   [innerStrokeWidth]="3"
   [showUnits]="false"
   [imageSrc]="'../assets/html.png'"
   [showImage]="true"
   [imageWidth]="70"
   [imageHeight]="70"
   [showSubtitle]="false"
   [outerStrokeColor]="'#F39C12'"
   [innerStrokeColor]="'#FAD7A0'"
   [animation]="true"
   [animationDuration]="700"
 ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center">
  <h4>CSS</h4>
 <circle-progress
  [percent]="70"
  [radius]="100"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [showUnits]="false"
  [imageSrc]="'../assets/css.png'"
  [showImage]="true"
  [imageWidth]="70"
  [imageHeight]="70"
  [showSubtitle]="false"
  [outerStrokeColor]="'#3498DB'"
  [innerStrokeColor]="'#A9CCE3'"
  [animation]="true"
  [animationDuration]="700"
 ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center">
  <h4>JavaScript</h4>
 <circle-progress
   [percent]="80"
   [radius]="100"
   [outerStrokeWidth]="10"
   [innerStrokeWidth]="3"
   [showUnits]="false"
   [imageSrc]="'../assets/java-script.png'"
   [showImage]="true"
   [imageWidth]="70"
   [imageHeight]="70"
   [showSubtitle]="false"
   [outerStrokeColor]="'#F1C40F'"
   [innerStrokeColor]="'#F9E79F'"
   [animation]="true"
   [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center">
  <h4>Github</h4>
<circle-progress
  [percent]="70"
  [radius]="100"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [showUnits]="false"
  [imageSrc]="'../assets/github.png'"
  [showImage]="true"
  [imageWidth]="70"
  [imageHeight]="70"
  [showSubtitle]="false"
  [outerStrokeColor]="'#7D3C98'"
  [innerStrokeColor]="'#BB8FCE'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center">
<h4>MySQL</h4>
<circle-progress
 [percent]="60"
 [radius]="100"
 [outerStrokeWidth]="10"
 [innerStrokeWidth]="3"
 [showUnits]="false"
 [imageSrc]="'../assets/mysql.png'"
 [showImage]="true"
 [imageWidth]="70"
 [imageHeight]="70"
 [showSubtitle]="false"
 [outerStrokeColor]="'#73C6B6'"
 [innerStrokeColor]="'#A9DFBF'"
 [animation]="true"
 [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center">
  <h4>Java</h4>
<circle-progress
 [percent]="80"
 [radius]="100"
 [outerStrokeWidth]="10"
 [innerStrokeWidth]="3"
 [showUnits]="false"
 [imageSrc]="'../assets/java.png'"
 [showImage]="true"
 [imageWidth]="70"
 [imageHeight]="70"
 [showSubtitle]="false"
 [outerStrokeColor]="'#E74C3C'"
 [innerStrokeColor]="'#E6B0AA'"
 [animation]="true"
 [animationDuration]="700"
></circle-progress>
</div>
</div>
