<div class="container" style="background-color:#839192 ;">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <br>
             
                <div class="form-group">
                    <label for="nombre">Nueva Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <br>
                <br>
                <br>
                <button class="btn btn-dark d-grid gap-2 col-6 mx-auto">
                    Agregar Skill
                </button>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
