<div class="row">
 <div class="container navbar-expand-lg">
   <div class="logos">
       <a href=""><img src="../../../assets/APLogo-20-20.png" id="logo" ></a> 
       <a href=""><img src="../../../assets/LogosInti.png" id="logo" ></a> 
   </div>

   <!--iconos de redes sociales--> 
   <div class="iconos redes">
    <a href=""><img src="../../../assets/facebook-circle-logo-48.png" id="icon"></a>
    <a href=""><img src="../../../assets/github-logo-48.png" id="icon"></a>
    <a href=""><img src="../../../assets/twitter-logo-48.png" id="icon"></a>
    <a href=""><img src="../../../assets/instagram-alt-logo-48.png" id="icon"></a>
    <a href=""><img src="../../../assets/linkedin-square-logo-48.png" id="icon"></a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
   </div>
 </div>
</div>

