<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-xs-12  col-md-7 col-lg-7 colum1">
            <h3>Pagina Responsive</h3>
            <p>Este fue uno de mis primeros proyectos , solo tiene frontend pero es responsive.</p>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 colum2">
            <a href=""><img src="../../../assets/pagina responsive.png" class="img-fluid imagenp"></a>
        </div>
    </div>
 
    <div class="container">
        <div class="col-xs-12  col-md-7 col-lg-7 colum1">
            <h3>Log In</h3>
            <p>Es un menu de login con movimientos.</p>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 colum2">
            <a href=""><img src="../../../assets/sign in and login.png" class="img-fluid imagenp"></a>
        </div>
    </div>
</div>
