<div class="container" style="background-color:#839192 ;">
    <div class="row" *ngIf="persona">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <br>
             
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="img">imagen</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="upLoadImage($event)"
                    accept=".jpg, .jpeg, .png">
                </div>
                <br>
                <div class="imagen">
                   <img [src]="imageService.url" width="200px">
                </div>
                <br>
                <br>
                <button class="btn btn-dark d-grid gap-2 col-6 mx-auto">
                    Modificar Persona
                </button>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
