<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-xs-12  col-md-7 col-lg-7 colum1">
            <h3>Pagina Responsive</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis autem perferendis porro et. Consectetur est officiis et blanditiis dignissimos expedita!</p>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 colum2">
            <img src="../../../assets/pagina responsive.png" class="img-fluid imagenp">
        </div>
    </div>
 
    <div class="container">
        <div class="col-xs-12  col-md-7 col-lg-7 colum1">
            <h3>Log In</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis autem perferendis porro et. Consectetur est officiis et blanditiis dignissimos expedita!</p>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 colum2">
            <img src="../../../assets/sign in and login.png" class="img-fluid imagenp">
        </div>
    </div>
</div>
