.row{
    padding: 30px;
    margin-right: -0,1rem;
}

div{
    background-color: #000000;
}

h1,p{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 30px;
}
#name{
    font-weight: bold;
    font-size: 15px;
}


img{
    border-radius: 100%;
    padding-left: 5%;
    box-shadow: 3px 3px 3px 3px #ffffff;
    width: 100%;
    
}
